#sg-login-wrapper {
  display: table;
  width: 100%;
  height: 100%;

  #formWrapper {

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    form {

      a {
        text-decoration: none;
        &:hover {
          color: dimgray;
        }

        &:visited {
          color: lightgray;
        }

        &:link {
          color: lightgray;
        }
      }

      input {
        padding-left: 13px;
        padding: 11px;
        margin: 7px;
        width: 277px;
        height: 22px;
        box-shadow: none;
        border-radius: 0;
        font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      }

    }
  }
}

button {
  &:hover {
    background-color: gray;
  }

  background-color: dimgray;
  color: white;
  border: none;
  padding: 11px;
  margin: 5px;
  width: 300px;
  height: 44px;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}