<div id="sg-login-wrapper">

    <div id="formWrapper" data-ng-if="!isLoggedIn()">

        <img src="/pages/main/assets/images/cropped-logo.png" style="width: 20%">

        <div id="logo"></div>

        <form id="loginForm" name="loginForm" data-ng-submit="login(loginForm)" novalidate>

            <div class="input-wrapper">
                <input type="email" name="userEmail" id="userEmail" data-ng-model="form.email" placeholder="Email" required />
            </div>

            <div class="input-wrapper">
                <input type="password" name="userPass" id="userPass" data-ng-model="form.pass" placeholder="Password" required />
            </div>
            <!--
                <input-pass id="pass"
                            ng-model="form.pass"
                            min-length="3"
                            good-length="5"
                            max-length="10"></input-pass>
            -->

            <div>
                <button data-ng-disabled="loginForm.$invalid" type="submit">{{'login' | translate}}</button>
            </div>
            <div style="margin-top: 5px;">
                <a  href="javascript:;" data-ng-click="goToSignUp()">{{'signUp' | translate}}</a>
            </div>

        </form>
    </div>
</div>