<header class="header home">
    <h1><a href="#" data-ng-click="vm.goToHome()">{{ 'dowado' | translate }}</a></h1>

    <nav class="nav">
        <ul class="nav-menu" data-ng-if="!vm.isLoggedIn()">
            <li ><a href="#" ng-click="vm.goToSignin()">{{ 'login' | translate }}</a></li>
            <li><a href="#" ng-click="vm.goToSignUp()">{{ 'signUp' | translate }}</a></li>
        </ul>
        <ul class="nav-menu" data-ng-if="vm.isLoggedIn()">
            <li ><a href="#" ng-click="vm.logout()">{{ 'logout' | translate }}</a></li>
            <li><a href="#" data-ng-click="vm.userLeave()">{{ 'userDelete' | translate }}</a></li>
            <li><a href="#" data-ng-click="vm.goToProfile()">{{ 'profile' | translate }}</a></li>
        </ul>
    </nav>
</header>