<div class="container auth signup">

    <div class="content sign-complete" data-ng-controller="SignUpCompleteCtrl">
        <div class="content-header">
            <h3>{{'signUpComplete' | translate}}</h3>
            <p>{{'needProfile' | translate}}</p>
        </div>
        <div class="content-body">

            <div class="img-wrapper">
                <img src="/pages/main/assets/images/congrat_250.png">
            </div>

            <div class="button-wrapper">
                <a href="#" class="btn recommend">{{'recommend' | translate}}</a>
                <a href="#" class="btn profile">{{'profileManagement' | translate}}</a>
            </div>
        </div>
        <div class="content-footer">
            <a href="#" data-ng-click="vm.goToHome()">{{'complete' | translate}}</a>
        </div>

    </div>


</div>