<div class="container auth signup">

    <div class="content sign-complete" data-ng-controller="SignUpCompleteCtrl">
        <div class="content-header">
            <h3>가입이 완료되었습니다.</h3>
            <p>공고에 지원하시려면 프로필을 작성해주세요.</p>
        </div>
        <div class="content-body">

            <div class="img-wrapper">
                <img src="/pages/main/assets/images/congrat_250.png">
            </div>

            <div class="button-wrapper">
                <a href="#" class="btn recommend">추천인입력</a>
                <a href="#" class="btn profile">프로필 관리 가기</a>
            </div>
        </div>
        <div class="content-footer">
            <a href="#" data-ng-click="vm.goToHome()">완료</a>
        </div>

    </div>


</div>