

<div class="container auth signup">


    <div class="content">
        <div class="content-header">
            <h3>회원가입</h3>
            <p>가입하고 도와도의 더 많은 기능을 이용하세요.</p>
        </div>
        <div class="content-body">
            <div class="social-signup-wrapper">
                <div class="facebook">
                    <a href="#" ng-click="vm.goToSocial()">페이스북으로 가입하기</a>
                </div>
                <div class="kakaotalk">
                    <a href="#">카카오톡으로 가입하기</a>
                </div>
            </div>

            <div class="hr">
                <span>또는</span>
            </div>

            <div class="normal-signup-wrapper">
                <div class="normal">
                    <a href="#" ng-click="vm.goToSignUp()">일반 가입하기</a>
                </div>
                <p>
                    회원가입을 하면 <a>도와도 약관</a> 및 <a>개인정보 방침 가입</a>에 동의하는것으로 간주됩니다.
                </p>
            </div>
        </div>
        <div class="content-footer">
            <p>이미 도와도 회원이신가요? <a href="#" ng-click="vm.goToSignin()">로그인</a></p>
        </div>
    </div>


</div>