<div class="container auth signup">


    <div class="content mobile-confirm" data-ng-controller="AuthMobileCtrl" >
        <div >


            <div class="content-header" data-ng-if="vm.mobileCheckType == vm.USER.authPhoneFindId">
                <h3>{{'idFind' | translate}}</h3>
                <p>{{'signUpNeedConfirm' | translate}}</p>
            </div>

            <div class="content-header" data-ng-if="vm.mobileCheckType == vm.USER.authPhoneFindPass">
                <h3>{{'tempPass' | translate}}</h3>
                <p>{{'signUpNeedConfirm' | translate}}</p>
            </div>

            <div class="content-header" data-ng-if="vm.mobileCheckType == vm.USER.authPhoneSignup">
                <h3>{{'phoneNeedConfirm' | translate}}</h3>
                <p>{{'phoneNeedConfirmDesc' | translate}}</p>
            </div>


            <div class="content-body">
                <form data-ng-if="!vm.FindId">
                    <div class="img-wrapper">
                        <img src="/pages/main/assets/images/phone_g_40x67.png">
                    </div>

                    <div  class="mobile-confirm-wrapper">
                        <input type="text" placeholder="휴대폰 번호" data-ng-model="vm.userPhoneNum">
                        <span data-ng-if="vm.remainTime">{{vm.remainTime}}</span>
                        <button type="button" data-ng-click="vm.sendAuthNum()">{{'certification' | translate}}</button>
                    </div>

                    <div class="certification-wrapper">
                        <input type="text" placeholder="인증번호 입력" data-ng-model="vm.userPhoneNumCertification">
                    </div>

                    <button type="submit" class="btn btn-submit" data-ng-click="vm.certificationPhoneNum()"> {{'confirm' | translate}} </button>
                </form>


                <div data-ng-show="vm.FindId" class="find-id">

                    <div class="img-wrapper">
                        <img src="/pages/main/assets/images/phone_g_40x67.png">
                    </div>
                    <div class="find-id-wrapper">
                        <span data-ng-show="vm.FindId">{{'idFindDesc1' | translate}} <b>{{vm.FindId}}</b> {{'done' | translate}}</span>
                    </div>
                    <a class="btn btn-submit" data-ng-click="vm.goToSignin()"> {{'login' | translate}} </a>
                </div>


            </div>
        </div>

    </div>


</div>