<div class="container auth signup">

    <div class="content signup-normal" data-ng-controller="SignUpCtrl">
        <div class="content-header">
            <h3>{{ 'signUp' | translate }}</h3>
            <p>{{ 'dowadoSignUpEx' | translate }}</p>
        </div>
        <div class="content-body">
            <div class="form-wrapper">
                <form id="signupForm" name="signupForm" data-ng-submit="vm.signUp(signupForm)" validate>

                    <div class="uid-wrapper">
                        <input type="text" name="id" required data-ng-model="signupForm.uid"
                               data-ng-pattern="/[0-9a-zA-Z.;\-!@#$%^&*]/" data-ng-minlength="vm.USER.minIdLength"
                               data-ng-maxlength="vm.USER.maxIdLength" autofocus

                                />
                        <span class="floating-label">{{ 'id' | translate }}</span>
                        <img data-ng-hide="signupForm.id.$error.pattern || signupForm.id.$error.required ||
                        signupForm.id.$error.minlength || signupForm.id.$error.maxlength || signupForm.id.$error.unique"
                             src="/pages/main/assets/images/check_t_24.png" alt="">
                    </div>

                    <p class="help-block" ng-show="signupForm.id.$error.pattern">{{'idUseNotKorean' | translate}}</p>
                    <p class="help-block" ng-show="signupForm.id.$error.unique">{{'duplicateId' | translate}} </p>




                    <div class="pass-wrapper">
                        <input type="password" name="password" required data-ng-model="signupForm.pass"
                               data-ng-minlength="vm.USER.minSecretLength" data-ng-maxlength="vm.USER.maxSecretLength"
                               data-ng-pattern="/^(\w)+$/"  />
                        <span class="floating-label">{{'pass' | translate}}({{vm.USER.minSecretLength}}{{'minLength' | translate}})</span>
                        <img data-ng-hide="signupForm.password.$error.pattern || signupForm.password.$error.required ||
                        signupForm.password.$error.minlength || signupForm.password.$error.maxlength "
                             src="/pages/main/assets/images/check_t_24.png" alt="">
                    </div>
                    <p class="help-block" ng-show="signupForm.password.$error.pattern">{{'signUpIdPattern' | translate}}</p>
                    <p class="help-block" ng-show="signupForm.password.$error.minlength">{{vm.USER.minSecretLength}}{{ 'minLengthAlert' | translate}}</p>

                    <div class="pass-confirm-wrapper">
                        <input type="password" required name="passwordConfirm" data-ng-model="signupForm.passConfirm"
                               data-ng-minlength="vm.USER.minSecretLength" data-ng-maxlength="vm.USER.maxSecretLength"
                               password-verify="signupForm.pass"
                               placeholder="" autocomplete="off" />
                        <span class="floating-label">{{'passConfirm' | translate}}</span>
                        <img data-ng-hide="signupForm.passwordConfirm.$error.pattern || signupForm.passwordConfirm.$error.required
                        || signupForm.passwordConfirm.$error.minlength || signupForm.passwordConfirm.$error.maxlength ||
                        signupForm.passwordConfirm.$error.passwordVerify "
                             src="/pages/main/assets/images/check_t_24.png" alt="">
                    </div>
                    <p class="help-block" ng-model="signupForm.passConfirm"
                       ng-if="signupForm.passwordConfirm.$error.passwordVerify">{{'passwordVerify' | translate}}</p>

                    <div class="hr">
                        <span>{{'and' | translate}}</span>
                    </div>

                    <div class="nick-wrapper">
                        <input type="text" required  name="nickname" data-ng-model="signupForm.nick"
                               data-ng-minlength="vm.USER.minNameLength" data-ng-minlength="vm.USER.maxNameLength" />
                        <span class="floating-label">{{'dowado' | translate}} {{'nick' | translate}}</span>
                        <img data-ng-hide="signupForm.nickname.$error.pattern || signupForm.nickname.$error.required ||
                        signupForm.nickname.$error.minlength || signupForm.nickname.$error.maxlength || signupForm.nickname.$error.unique"
                             src="/pages/main/assets/images/check_t_24.png" alt="">
                        <p class="help-block" ng-show="signupForm.nickname.$error.unique">{{'nickUnique' | translate}} </p>
                    </div>

                    <button type="submit" class="btn btn-submit" ng-disabled=" !signupForm.nickname.$error && !signupForm.passwordConfirm.$error && !signupForm.id.$error"> {{'confirm' | translate}} </button>
                </form>
            </div>

        </div>

        <div class="content-footer" data-ng-controller="SigninCtrl">
            <p><a href="#"  ng-click="vm.facebookLogin()">{{'facebook' | translate}}</a> {{'or' | translate}} <a href="#" ng-click="vm.kakaoLogin()">{{'kakao' | translate}}</a> {{'forSignUp' | translate}}</p>
        </div>
    </div>

    <footer class="footer">

    </footer>

</div>