<div class="container auth signup">


    <div class="content signup-social" data-ng-controller="SignUpCtrl">
        <div class="content-header">
            <h3>{{'dowadoUseNick' | translate}}</h3>
            <p>{{'dowadoUseNickCompany' | translate}}</p>
        </div>
        <div class="content-body">
            <form id="signupSocialNickForm" name="signupSocialNickForm" data-ng-submit="vm.signupSocialNick()" validate>
                <div class="img-wrapper">
                    <img src="http://placehold.it/120x120">
                </div>

                <div class="nick-wrapper">
                    <input type="text" placeholder="도와도 닉네임" data-ng-model="vm.socialSignUpInfo.nick">
                    <img src="http://cdn.directv.com/cms3/global/images/img__checklarge.png" alt="">
                </div>

                <button type="submit" class="btn btn-submit"> {{'confirm' | translate}} </button>
            </form>
        </div>

    </div>


</div>