<div class="container auth signup" data-ng-controller="SigninCtrl">


    <div class="content signin">
        <div class="content-header">
            <h3>{{ 'login' | translate }}</h3>
        </div>
        <div class="content-body">
            <div class="social-signin-wrapper">
                <div class="facebook">
                    <div class="border-vertical"></div>
                    <a href="#" ng-click="vm.facebookLogin()">{{ 'facebookSignUp' | translate }}</a>
                </div>
                <div class="kakaotalk">
                    <div class="border-vertical"></div>
                    <a href="#" ng-click="vm.kakaoLogin()">{{ 'kakaoSignUp' | translate }}</a>
                </div>
            </div>

            <div class="hr">
                <span>{{ 'or' | translate }}</span>
            </div>
            <form id="signinForm" name="signinForm" data-ng-submit="vm.signin(signinForm)" novalidate>
                <div class="signin-wrapper">
                    <div class="signin-id-wrapper">
                        <input type="text" placeholder="{{ 'id' | translate }}" data-ng-model="signinForm.uid" />
                    </div>
                    <div class="signin-pass-wrapper">
                        <input type="password" placeholder="{{ 'pass' | translate }}" data-ng-model="signinForm.pass" />
                    </div>

                    <button type="submit">{{ 'login' | translate }}</button>

                    <div class="find-pass">
                        <p><a href="#" data-ng-click="vm.goToFindId()">{{ 'id' | translate }}</a>/<a href="#" data-ng-click="vm.goToFindPass()">{{ 'passFind' | translate }}</a></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="content-footer">
            <div class="signup-wrapper">
                <span>{{ 'dowadoFirst' | translate }}</span>
                <a href="#" data-ng-click="vm.goToSignUp()">{{ 'signUp' | translate }}</a>

            </div>
        </div>
    </div>



</div>