<div class="container auth signup">


    <div class="content mobile-confirm" data-ng-controller="AuthMobileCtrl" >
        <div >


            <div class="content-header" data-ng-if="vm.mobileCheckType == vm.USER.authPhoneFindId">
                <h3>아이디 찾기</h3>
                <p>회원가입시 입력한 휴대폰 번호가 필요합니다.</p>
            </div>

            <div class="content-header" data-ng-if="vm.mobileCheckType == vm.USER.authPhoneFindPass">
                <h3>임시 비번 발급</h3>
                <p>회원가입시 입력한 휴대폰 번호가 필요합니다.</p>
            </div>

            <div class="content-header" data-ng-if="vm.mobileCheckType == vm.USER.authPhoneSignup">
                <h3>휴대폰 인증이 필요해요.</h3>
                <p>공고에 지원하기 위해 필수입니다.</p>
            </div>


            <div class="content-body">
                <form data-ng-if="!vm.FindId">
                    <div class="img-wrapper">
                        <img src="/pages/main/assets/images/phone_g_40x67.png">
                    </div>

                    <div  class="mobile-confirm-wrapper">
                        <input type="text" placeholder="휴대폰 번호" data-ng-model="vm.userPhoneNum">
                        <span data-ng-if="vm.remainTime">{{vm.remainTime}}</span>
                        <button type="button" data-ng-click="vm.sendAuthNum()">인증하기</button>
                    </div>

                    <div class="certification-wrapper">
                        <input type="text" placeholder="인증번호 입력" data-ng-model="vm.userPhoneNumCertification">
                    </div>

                    <button type="submit" class="btn btn-submit" data-ng-click="vm.certificationPhoneNum()"> 확인 </button>
                </form>


                <div data-ng-show="vm.FindId" class="find-id">

                    <div class="img-wrapper">
                        <img src="/pages/main/assets/images/phone_g_40x67.png">
                    </div>
                    <div class="find-id-wrapper">
                        <span data-ng-show="vm.FindId">해당 아이디는 <b>{{vm.FindId}}</b> 입니다</span>
                    </div>
                    <a class="btn btn-submit" data-ng-click="vm.goToSignin()"> 로그인 </a>
                </div>


            </div>
        </div>

    </div>


</div>