.profile {
  padding-bottom: 50px;
  .content-body {
    margin: 50px 80px 0px;
    .img-wrapper {
      text-align: center;
      margin-bottom: 60px;
      img {
        border-radius: 50%;
      }
    }

    .help-block{
      margin-left: 30px;
      margin-top: 5px;
      font-size: 15px;
    }

    .now-pass-wrapper, .pass-wrapper, .pass-confirm-wrapper{
      width: 452px;
      height: 55px;

      margin-top: 15px;
      position: relative;

      input{
        outline: none;
      }

      input:focus ~ .floating-label,
      input:not(:focus):valid ~ .floating-label{
        top: 5px;
        bottom: 10px;
        left: 30px;
        font-size: 11px;
        opacity: 1;

      }

      .inputText {
        font-size: 14px;
        width: 200px;
        height: 35px;
        opacity: 0.5;
      }

      .floating-label {
        position: absolute;
        pointer-events: none;
        left: 30px;
        top: 18px;
        opacity: 0.5;
        transition: 0.2s ease all;
      }

      input.ng-invalid {
        background-image: none;
        border: 1px solid #f76262;

        &:focus {
          outline-color: #f76262;
          outline-width: 4px;
        }
      }

      input.ng-invalid.ng-pristine {
        border: 1px solid #bfbfbf;
      }

      input.ng-valid{
        border: solid 1px #1fc9c6;
      }

    }
    .now-pass-wrapper input, .pass-wrapper input, .pass-confirm-wrapper input{
      border: none;
      width: 100%;
      height: 100%;
      padding-left: 30px;
      padding-top: 10px;
      font-size: 25px;
    }


    .now-pass-wrapper img, .pass-wrapper img, .pass-confirm-wrapper img{
      height: 20px;
      position: absolute;
      right: 20px;
      top: 17px;
    }
    div.hr {
      overflow: hidden;
      text-align: center;
      margin: 20px 0;
      font-size: 14px;
      &:before, &:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 43%;
      }
    }
    .btn.btn-submit {
      margin: 40px 0 25px 0;
    }
  }
  .content-footer {
    margin: 20px 0;
  }
}